body{
    margin: 0;
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

a.button_bg {
    border: 3px solid #7900ff;
    background-color: #000000;
    padding: 20px;
    color: #808080;
    text-decoration: none;
    font-size: x-large;
    font-family: "Mojangles";
}

a.button_bg:hover{
    border: 3px solid #ffffff;
    color: #ffffff;
}





@font-face {
    font-family: 'Mojangles';
    src: url(Fonts/Mojangles.ttf);
}

div.gapUI{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    height: 100vh;
}

