body {
    background-color: black;
}

h1{
    color: #ffffff;
}

model-viewer{
    background-color: #202020;
    border: 5px solid #fff;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    font-family: "Mojangles";
    text-align: center;
    font-size: medium;
    color: #fff;
}

div.model_container{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

@font-face {
    font-family: 'Mojangles';
    src: url(/Fonts/Mojangles.ttf);
}